.notification-area {
  position: absolute;
  bottom: 0;
  right: 0;
  max-height: 100%;
  max-width: 100%;
  flex-direction: column-reverse;
  & > div {
    // .alert {
    position: relative !important;
  }
}
